@import "../../../assets/sass/variables";

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 6rem;
  margin-bottom: 3rem;
  align-items: center;

  @include lg {
    grid-template-columns: 2fr 2fr;
    grid-row-gap: 12px;
    gap: 1rem;
  }

}
