
.footer{
	padding: 50px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
	width: 50vw;
	margin: 0 auto;
}
.icons_container{
	display: flex;
	gap: 2rem;
	margin-bottom: .5rem;
}