@import "../assets/sass/_variables";

:root {
  --background: #ffffff;
  --foreground: #15151c;
  --app-background: #000000;
  --app-menu-background: #ffffff;
  --app-menu-item-hover: #f8f9fc;
  --mobile-menu-background: #f3f5f8;
  --mobile-menu-shadow: rgba(76, 80, 89, 0.3);
  --account-details-background: #ffffff;
  --border-color: #e3e4ec;
  --secondary-button-background: #ffffff;
  --secondary-button-border-color: #e3e4ec;
  --secondary-button-hover-color: #f8f9fc;
  --secondary-button-disabled-color: transparent;
  --outlined-button-background: transparent;
  --outlined-button-border-color: #e3e4ec;
  --outlined-button-hover-color: #f8f9fc;
  --outlined-button-disabled-color: transparent;
  --transparent-button-hover-color: #f8f9fc;
  --select-wallet-hover-color: #f8f9fc;
  --select-wallet-border-color: #eef1f8;
  --deposit-modal-content-background-color: #f8f9fc;
  --gray: #67707b;
  --error-color: #fa4440;
  --primary-color: #1627e3;
  --input-disabled-border-color: #ecedf3;
  --input-disabled-background-color: #fbfbfd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

body {
  background-color: var(--app-background);
  font-family: 'Space Mono', monospace;
}

.container {
  max-width: $containerWidth;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(173, 180, 189, 0.4);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(173, 180, 189, 0.4);
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track:horizontal {
  background: none;
}

::-webkit-scrollbar-thumb:horizontal {
  background: rgba(173, 180, 189, 0.4);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: rgba(173, 180, 189, 0.4);
}

a {
  color: var(--foreground);
  text-decoration: none;
}

/* Progress bar styles */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #1627e3;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #1627e3, 0 0 5px #1627e3;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: block;
  z-index: 1031;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}