.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  .header_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      line-height: 3em;
      text-align: center;
	  margin-bottom: 80px;
    }

    h1 {
      font-size: 64px;
      font-weight: 700;
      word-spacing: -20px;
      letter-spacing: -2px;
	  margin-bottom: 10px;

      span {
        background: #3241eb;
        background-clip: text;
        color: transparent;
      }
    }

    h3 {
      color: rgba(1, 1, 1, 0.6);
      font-weight: 500;
    }
  }

  .get_started {
    font-size: 18px;

    span {
      color: #d73719;
      width: 197px;
      height: 36px;

      background: rgba(1, 1, 1, 0.08);
      border-radius: 8px;
      padding: 0.5rem 1rem 0.5rem 0.5rem;
      margin-left: 0.3rem;
    }
  }

  .buttons_container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    color: #000;
    text-align: center;

    .button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      padding: 24px 32px;
      gap: 12px;

      width: 392px;
      height: 80px;

      background: rgba(255, 0, 131, 1);
      /* Grayscale/Metal */

      border-radius: 12px;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        background: rgba(255, 0, 131, 0.9);
        transform: translateY(-3px);
      }

      p {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
      }
    }

    .aligned {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    h1 {
      font-size: 42px;
      margin-bottom: 0px;
      word-spacing: -10px;
    }

    h2 {
      font-weight: 700;
      margin-bottom: 20px;
    //   text-decoration: underline;
    }

    span {
      font-size: 42px;
      font-weight: 500;
      margin-bottom: 0px;
    }
  }

  .stats_container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    color: #000;
    text-align: center;
	margin-bottom: 100px;

	.stat {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
  
		padding: 24px 32px;
		gap: 12px;
  
		width: 420px;
		height: 80px;

	  }

    .aligned {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    h1 {
      font-size: 42px;
      margin-bottom: 0px;
      word-spacing: -10px;
    }

    h2 {
      font-weight: 500;
      margin-bottom: 20px;
    }

    span {
      font-size: 42px;
      font-weight: 500;
      margin-bottom: 0px;
    }
  }
}
