@import "../../assets/sass/variables";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  .header_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      line-height: 3em;
      text-align: center;
	    margin-bottom: 40px;
    }

    h1 {
      font-size: 64px;
      font-weight: 700;
      word-spacing: -20px;
      letter-spacing: -2px;
	    margin-bottom: 10px;
      color: #fff;
      @include sm {
        margin-bottom: 20px;
        letter-spacing: 0px;
        line-height: 64px;
        padding: 18px;
      }

      span {
        background: rgba(0, 25, 234, 1);
        background-clip: text;
        color: transparent;
      }
    }

    h3 {
      color: #c5ccd3;
      font-weight: 500;
      @include sm {
        line-height: 24px;
      }
    }
  }

  .get_started {
    font-size: 18px;

    span {
      color: #d73719;
      width: 197px;
      height: 36px;

      background: rgba(1, 1, 1, 0.08);
      border-radius: 8px;
      padding: 0.5rem 1rem 0.5rem 0.5rem;
      margin-left: 0.3rem;
    }
  }

  .buttons_container {
    display: flex;
    // width: 80%;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    color: #000;
    text-align: center;
    margin-bottom: 80px;

    @include sm {
      gap: 2rem;
    }

    .button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      padding: 24px 32px;
      gap: 12px;

      width: 392px;
      height: 80px;

      background: rgba(0, 25, 234, 1);
      /* Grayscale/Metal */

      border-radius: 4px;
      cursor: pointer;
      transition: all 0.5s;

      @include sm {
        width: 360px;
      }

      &:hover {
        background: rgba(0, 25, 234, 0.9);
        transform: translateY(-3px);
      }

      p {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #fff;
      }
    }

    .aligned {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    h1 {
      font-size: 42px;
      margin-bottom: 0px;
      word-spacing: -10px;
    }

    h2 {
      font-weight: 700;
      margin-bottom: 20px;
    //   text-decoration: underline;
    }

    span {
      font-size: 42px;
      font-weight: 500;
      margin-bottom: 0px;
    }
  }

  .stats_container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    color: #000;
    text-align: center;
	  margin-bottom: 100px;

    @include sm {
      margin-bottom: 50px;
      max-width: 360px;
    }

	.stat {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
  
		padding: 24px 32px;
		gap: 12px;
  
		width: 420px;
		height: 80px;

	  }

    .aligned {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    h1 {
      font-size: 42px;
      margin-bottom: 0px;
      word-spacing: -10px;
      color: #ffffff;
    }

    h2 {
      font-weight: 500;
      margin-bottom: 20px;
      color: #c5ccd3;
      @include sm {
        margin-bottom: 0px;
      }
    }

    span {
      font-size: 42px;
      font-weight: 500;
      margin-bottom: 0px;
    }
  }
}
