@import "../../../assets/sass/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 7.5rem;
  gap: 2rem;
  margin-bottom: 4rem;
  flex-direction: row;
  @include sm {
    flex-direction: column;
  }
}
